:8080 {
	root .
}
:8080/simple/ {
	root examples
	browse / simple.tpl
}
:8080/upstream/ {
	root examples
	browse / upstream.tpl
}
:8080/upstream-preview/ {
	root examples
	browse / upstream-preview.tpl
}
